altgraph==0.17
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
covid==2.4.1
idna==2.10 #Not upgrading - conflicts with requests
pydantic==1.8.2
PyInstaller==4.3
requests==2.25.1
soupsieve==2.2.1
urllib3==1.26.4